@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --color-alpha: #ffffff;
  }

* {
    margin: 0;
    font-family: 'Lora';
    color: white;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 120vh;
    display: grid;
    grid-template-rows: 10% 1fr 1fr 1fr 5%;
    grid-template-columns: 25% 25% 30% 20%;
    grid-template-areas: 
    "header header header header"
    "content content content sidebar"
    "content content content sidebar"
    "content content content sidebar"
    "footer footer footer footer";
}

header {
    grid-area: header;
    background: black;
    display: flex;
    gap: 2%;
    align-items: center;
    text-align: center;
}

.header_a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 25%;
    height: auto;
    text-align: center;
}

.content_container, .content_container_interna {
    background: rgb(0, 0 ,0 ,0.8);
    width: 100%;
    height: 100%;
    padding: 5% 5% 5% 5%;
    
}

.content_container_interna{
    display: flex;
}

.sidebar {
    font-size: 0.8em;
    display: flex;
    background: rgb(0, 0, 0);
    height: 100%;
    grid-area: sidebar;
    grid-row-start: 2;
    grid-row-end: 5;
    flex-wrap: wrap;
    margin: 0;
}

.sidebar_imagem {
    width: auto;
    height: 100%;
}

.sidebar_content{
    display: flex;
    height: 24%;
    width: 100%;
    flex: 1;
}

.sidebar_content:hover{
    animation: mudarCor 0.5s ease forwards;
}

.sidebar_content_text{
    margin-left: 5%;
    height: fit-content;
    margin: 6% 10% 0% 12%;
}

button{
    background: black;
    width: 20%;
    height: 10%;
    margin-top: 20%;
    margin-left: 40%;
    border-radius: 5%;
}

.imagem_main{
    width: 40%;
    height: auto;
}

.content {
    grid-area: content;
    height: auto;
    display: flex;
    background-image: url(Lost-Mines-of-Phandelver.webp);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
}

p {
    margin: 2% 0 2% 0;
}

.content_container_text, .content_container_header{
    padding: 5%;
}


@keyframes mudarCor {
    from{
        background: black;
    } to {
        background: rgb(255, 255, 255, 0.8);
        height: 30%;
    }
}

.box {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 600px;
    padding: 5px;
    border: 2px solid var(--color-alpha);
  }
  